{{- $prom := include "flow-pipe.prometheus.endpoint" . -}}
{{- $loki := include "flow-pipe.loki.endpoint" . -}}
{{- $tempo := include "flow-pipe.tempo.endpoint" . -}}
{{- if and .Values.observability.grafana.enabled .Values.observability.grafana.provisionDatasources (or $prom $loki $tempo) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: flow-pipe-grafana-datasources
  namespace: {{ include "flowpipe.namespace" . }}
  labels:
    grafana_datasource: "1"
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
{{- if $prom }}
      - name: Prometheus
        type: prometheus
        access: proxy
        url: "{{ $prom }}"
        uid: prometheus
        isDefault: true
{{- end }}
{{- if $loki }}
      - name: Loki
        type: loki
        access: proxy
        url: "{{ $loki }}"
        uid: loki
{{- if (not $prom) }}
        isDefault: true
{{- end }}
{{- end }}
{{- if $tempo }}
      - name: Tempo
        type: tempo
        access: proxy
        url: "{{ $tempo }}"
        uid: tempo
        jsonData:
          tracesToLogs:
            datasourceUid: loki
{{- if and (not $prom) (not $loki) }}
        isDefault: true
{{- end }}
{{- end }}
{{- end }}
