{{- $observability := default (dict) (include "flow-pipe.observability" . | fromYaml) -}}
{{- $alloy := include "flow-pipe.alloy.otlp.endpoint" . -}}
{{- $metricsEndpoint := dig "alloy" "exporters" "metrics" "endpoint" "" $observability -}}
{{- $tracesEndpoint := dig "alloy" "exporters" "traces" "endpoint" "" $observability -}}
{{- $logsEndpoint := dig "alloy" "exporters" "logs" "endpoint" "" $observability -}}
{{- if or $alloy $metricsEndpoint $tracesEndpoint $logsEndpoint }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: flow-pipe-observability
  namespace: {{ include "flowpipe.namespace" . }}
data:
  {{- if $alloy }}
  alloyEndpoint: "{{ $alloy }}"
  {{- end }}
  {{- if $metricsEndpoint }}
  metricsEndpoint: "{{ $metricsEndpoint }}"
  {{- end }}
  {{- if $tracesEndpoint }}
  tracesEndpoint: "{{ $tracesEndpoint }}"
  {{- end }}
  {{- if $logsEndpoint }}
  logsEndpoint: "{{ $logsEndpoint }}"
  {{- end }}
{{- end }}
